{% extends 'base.html' %}

{% block content %}
<center><img src="https://cdn.pixabay.com/photo/2016/12/15/12/26/contact-us-1908763_960_720.png" class="d-block w-50 h-65" alt="center"></center>

<center><h3 style="color:#F9D40B;" class="font-italic">CONTACT ME HERE</h3></center>
<form method="post" action="/contact">
    {% csrf_token %}
  <div class="form-group">
    <label for="name" style="color:#F9D40B;">Name</label>
    <input type="text" class="form-control" id="name"  name="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="email" style="color:#F9D40B;">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
  </div>

    <div class="form-group">
    <label for="phone" style="color:#F9D40B;">Phone number</label>
    <input type="phone" class="form-control" id="phone" name='phone' placeholder="Enter your contact number">
  </div>

  <div class="form-group">
    <label for="describe" style="color:#F9D40B;">Please enter your queries</label>
    <textarea class="form-control" id="describe" rows="3" name="describe"></textarea>
  </div>
    <center><button class="btn btn-primary" type="submit">Submit</button></center>
</form>
{% endblock %}