{% extends 'base.html' %}

{% block content %}
<center><img src="https://www.zekelabs.com/static/media/uploads/being-a-django-developer-big.jpg"class="d-block w-100 h-50"></center>


<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="col-md-6">
<p class="social"><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="gplus"><i class="fa fa-google-plus"></i></a><a href="#" title="" class="instagram"><i class="fa fa-instagram"></i></a><a href="#" title="" class="email"><i class="fa fa-envelope"></i></a></p>
</div>
</html>

<!DOCTYPE html>
<html>
<head>
<style>
body {margin:25px;}

div.polaroid {
  width: 20%;
  background-color: " ";
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

div.container {
  text-align: center;
  padding: 20px 20px;
}
</style>
</head>
<body>

<h2>Responsive Polaroid Images / Cards</h2>

<div class="polaroid">
  <img src="https://img.freepik.com/free-vector/elegant-blue-gold-diploma-certificate-template_1017-17257.jpg?size=626&ext=jpg" alt="..." style="width:100%">
  <div class="container">
  <p style="color:#F9D40B;">Certificate Creation</p>
  </div>
</div>

<div class="polaroid">
  <img src="https://cdn.frooition.com/000000/img/2018/website-collage.png" alt="..." style="width:100%">
  <div class="container">
  <p style="color:#F9D40B;">E Commerce Design</p>
  </div>
</div>

</body>
</html>

{% endblock %}